header { overflow: hidden; background: #e7e7e7; }
header h1 { background: url(../images/header_logo.png); width: 198px; height: 46px; text-indent: 100%; white-space: nowrap; overflow: hidden; float: left; margin: 10px 0; }
header nav { clear: both; height: 35px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6)); background: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background: -moz-linear-gradient(top, #ffffff, #e6e6e6); background: -o-linear-gradient(top, #ffffff, #e6e6e6); background: -ms-linear-gradient(top, #ffffff, #e6e6e6); background: linear-gradient(top, #ffffff, #e6e6e6); border: 1px solid #aeaeae; border-left: 0; border-right: 0; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15); }
header nav ul { float: left; line-height: 35px; }
header nav ul li { display: inline; }
header nav ul a { color: #8b8b8b; text-decoration: none; font-weight: 500; padding: 4px 10px; margin: 0 10px; -webkit-transition: 0.5s ease all; -moz-transition: 0.5s ease all; -ms-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all; }
header nav ul a:hover { color: #292929; }
header form { padding: 0; }
header .header_right { float: right; width: 250px; line-height: 66px; }
header .header_right p { float: left; }
header .header_right span.email { background: url(../images/header_icons.png) no-repeat; width: 27px; height: 28px; display: inline-block; vertical-align: middle; margin-left: 50px; }
header .header_right span.settings { background: url(../images/header_icons.png) no-repeat -64px 0; width: 35px; height: 24px; display: inline-block; vertical-align: middle; margin-left: 40px; margin-top: -4px; }
header .header_right a { float: right; color: #000; text-decoration: none; }

.content { margin-top: 20px; }
.content > div:nth-child(2n) { margin-right: 0; }
.content > div.full { width: 100%; margin-bottom: 15px; }
.content > div.full h2 button { position: static; }
.content > div.full h2 div.right { position: absolute; top: 50%; right: 10px; margin-top: -13px; }
.content > div.full form { position: relative; padding: 20px; }
.content > div.full form label { color: #737373; font-weight: 600; font-size: 14px; }
.content > div.full form label.top { width: 105px; display: inline-block; }
.content > div.full form div.sizes { overflow: hidden; margin: 10px 0; }
.content > div.full form div.sizes span { display: block; width: 50px; float: left; text-align: center; }
.content > div.full form div.sizes input { display: block; margin: 0 auto; }
.content > div.full form select { width: 250px; }
.content > div.full form table td { padding: 5px; }
.content > div.full form input, textarea { height: 24px; border-radius: 5px; padding: 0; padding: 0 7px; margin: 0 0 3px 0; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1), 2px 2px rgba(255, 255, 255, 0.35); }
.content > div.full form input:focus, textarea:focus { border-color: rgba(41, 144, 41, 0.2); outline: none; }
.content > div.full form div#upload { text-align: center; position: absolute; top: 10px; right: 10px; }
.content > div.full form div#upload div.box { width: 185px; background: white; }
.content > div.full form div#upload button { margin: 0 auto; }
.content > div { width: 488px; margin-right: 20px; float: left; min-height: 174px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(95%, #ebebeb), color-stop(100%, #dfdfdf)); background: -webkit-linear-gradient(top, #ebebeb, #ebebeb 95%, #dfdfdf); background: -moz-linear-gradient(top, #ebebeb, #ebebeb 95%, #dfdfdf); background: -o-linear-gradient(top, #ebebeb, #ebebeb 95%, #dfdfdf); background: -ms-linear-gradient(top, #ebebeb, #ebebeb 95%, #dfdfdf); background: linear-gradient(top, #ebebeb, #ebebeb 95%, #dfdfdf); border-radius: 10px; padding-bottom: 40px; border: 1px solid #efefef; box-shadow: 0 0 1px #929292, 0 0 5px rgba(0, 0, 0, 0.25); }
.content > div h2, .content > div h3 { font-size: 18px; color: #737373; text-shadow: 1px 1px rgba(255, 255, 255, 0.75); }
.content > div h2 { padding: 10px; font-weight: 500; background: #e6e6e6; overflow: hidden; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom: 1px solid #bababa; position: relative; }
.content > div h2 button { position: absolute; top: 50%; margin-top: -13px; right: 10px; }
.content > div ul li { display: block; padding: 10px; overflow: hidden; border-bottom: 1px solid #bcbcbc; position: relative; }
.content > div ul li h3 { font-size: 14px; font-weight: 500; padding: 5px 0; }
.content > div ul li p { color: #737373; font-size: 12px; padding-top: 5px; text-shadow: 1px 1px rgba(255, 255, 255, 0.75); }
.content > div ul li button { position: absolute; right: 10px; top: 50%; margin-top: -13px; }

form.customer div.padding { padding: 10px; }
form.customer table td { padding: 10px !important; }
form.customer div.colours { overflow: hidden; }
form.customer div.colours div { float: left; margin-right: 15px; text-align: center; }
form.customer div.colours span.color { display: block; width: 36px; height: 36px; }
form.customer label { display: block; margin-bottom: 5px; margin-top: 7px; }
form.customer input { margin-bottom: 3px; }

div.clients { height: auto; width: 100%; }
div.clients > p, div.clients h3 { margin: 20px; }
div.clients table { margin: 20px; width: 965px; }
div.clients table td { padding: 5px 0; }

button.small { padding: 0 5px !important; height: 22px; }

textarea {
	height: auto;
}

p textarea {
	margin-left: 107px;
	width: 318px;
}

#search input { -webkit-appearance: none; border: 1px solid #c6c6c6; width: 190px; height: 20px; background: url(../images/search.png) no-repeat 5px center white; border-radius: 10px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #000; font-weight: 500; margin: 8px 0 0 0; padding: 0 0 0 15px; }
#search input:focus { outline: none; box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1); }

.dataTables_filter {
	margin: 2px 10px 10px 10px;
}
.dataTables_info {
	margin-left: 10px;
}
.dataTables_length {
	margin: 10px 10px;
}

.tbox	{position:absolute; display:none; padding:14px 17px; z-index:900;}.tmask	{position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#B0B0B0; z-index:800}.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(../images/close.png) no-repeat}.tclose:hover {background-position:0 -30px}