#form-view { background-color: #ebebeb; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(90%, #ebebeb), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #ebebeb, #ebebeb 90%, #dddddd); background: -moz-linear-gradient(top, #ebebeb, #ebebeb 90%, #dddddd); background: -o-linear-gradient(top, #ebebeb, #ebebeb 90%, #dddddd); background: -ms-linear-gradient(top, #ebebeb, #ebebeb 90%, #dddddd); background: linear-gradient(top, #ebebeb, #ebebeb 90%, #dddddd); overflow: hidden; width: 820px; margin: 50px auto; border-radius: 10px; padding-bottom: 50px; border: 1px solid rgba(255, 255, 255, 0.25); box-shadow: inset 1px 1px rgba(255, 255, 255, 0.55), 1px 1px 5px rgba(0, 0, 0, 0.25); }
#form-view div.head { overflow: hidden; padding: 10px; }
#form-view div.head h1 { background: url(../images/form_header.png); width: 198px; height: 59px; text-indent: 100%; white-space: nowrap; overflow: hidden; float: left; margin-right: 30px; }
#form-view div.head h2 { float: left; line-height: 59px; font-size: 18px; color: #737373; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75); font-weight: 500; }
#form-view div.breadcrumb { border-top: 1px solid #acacac; border-bottom: 1px solid #acacac; background: #ebebeb; }
#form-view div.breadcrumb ul li { display: inline-block; }
#form-view div.breadcrumb li.active { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(72%, #ebebeb), color-stop(100%, #dedede)); background: -webkit-linear-gradient(top, #ebebeb, #ebebeb 72%, #dedede); background: -moz-linear-gradient(top, #ebebeb, #ebebeb 72%, #dedede); background: -o-linear-gradient(top, #ebebeb, #ebebeb 72%, #dedede); background: -ms-linear-gradient(top, #ebebeb, #ebebeb 72%, #dedede); background: linear-gradient(top, #ebebeb, #ebebeb 72%, #dedede); }
#form-view div.breadcrumb li.active:after { content: ""; background: url(../images/form_arrow_active.png); width: 37px; height: 51px; position: absolute; top: 0; right: 0; }
#form-view div.breadcrumb li { height: 51px; width: 186px; text-shadow: 1px 1px rgba(255, 255, 255, 0.75); padding-left: 20px; background: url(../images/form_arrow.png) right no-repeat; position: relative; padding-left: 60px; margin-left: -40px; }
#form-view div.breadcrumb li span.number { font-size: 30px; float: left; font-weight: bold; line-height: 51px; margin-right: 20px; color: #737373; }
#form-view div.breadcrumb li span.step { display: block; font-weight: 600; margin-top: 10px; color: #303030; }
#form-view div.breadcrumb li span.desc { display: block; color: #737373; margin-top: 5px; }

#orderItems { font-family: 'Play'; padding: 15px; }
#orderItems img { display: inline; margin-right: 10px; }
#orderItems #info { width: 614px; font-size: 14px; }
#orderItems #info span { display: block; }
#orderItems #info label { display: block; margin: 10px 0; }
#orderItems #info span.box { width: 31px; height: 31px; }
#orderItems #info span.colours span.box { float: left; margin-right: 5px; position: relative; margin-bottom: 10px; text-align: center; }
#orderItems #info span.colours span.box input[type="radio"] { position: absolute; bottom: -17px; margin: 0 auto; text-align: center }
#orderItems #info h2 { font-weight: 700; font-size: 18px; }
#orderItems #price { font-size: 18px; }
#orderItems section#product { overflow: hidden; border-bottom: 2px dotted rgba(0, 0, 0, 0.1); padding-bottom: 10px; margin-bottom: 15px; position: relative; }
#orderItems ul li input[type="checkbox"] { margin-right: 15px; }

form { padding: 20px; }
form div.left#right { margin-left: 20px; }
form input, form label { display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
form label { font-weight: bold; color: #808080; margin: 10px 0; }
form input { width: 258px; height: 24px; border-radius: 5px; padding: 0; padding: 0 7px; margin: 0 0 3px 0; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1), 2px 2px rgba(255, 255, 255, 0.35); }
form input:focus { border-color: rgba(41, 144, 41, 0.2); outline: none; }
form span.small { float: left; }
form span.small input { width: 25px; }
form span.small-after { float: left; margin-left: 20px; }
form span.spacing { display: block; margin-bottom: 10px; }
form div.group { overflow: hidden; margin-bottom: -3px; }

input.error {
	border-color: red;
}

label.error {
	display: block;
	padding: 8px;
	background: #F2DEDE;
	border-radius: 5px;
	border: 1px solid #EED3D7;
	color: #894a48;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin-top: 10px
}

button.cart { float: right }

form.item {
	padding: 0;
}
form.item input {
	width: auto;
	height: auto;
	display: inline;
}

h2.error {
	font-size: 24px;
	text-align: center;
	margin: 20px 0;
}

span.quantity {
	float: right;
	overflow: hidden;
}

input.quantity {
	width: 32px !important;
	text-align: center;
	padding: 5px;
}
label.quantity {
	font-size: 12px;
	display: inline !important;
	margin-right: 5px !important;
}

form.finalization input[type="checkbox"] {
	display: inline;
	width: auto;
	height: auto;
	border: none;
	margin: 5px;
}

h2 {
	font-size: 18px; color: #737373; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75); font-weight: 500;
}

.optionData {
	margin-left: 15px;
}
.optionData input {
	padding: 3px;
	margin-top: 3px
}

.inYourCart {
	position: absolute;
	bottom: 10px; right: 10px;	
	display: inline-block;
	background: #fff;
	padding: 3px;
	border-radius: 3px;
}

span.remove {
	position: absolute;
	top: 0; right: 0;
	display: inline-block;
	background: #fff;
	padding: 3px;
	border-radius: 3px;
	cursor: pointer;
}

input[type="radio"] {
	display: inline;
	width:auto; height: auto;
	margin: 5px;
}

ul#accept {
	margin: 7px 0;
	padding: 7px 0;
	border-top: 1px dashed rgba(0, 0, 0, .1);
	border-bottom: 1px dashed rgba(0, 0, 0, .1);
}

ul#accept li {
	padding: 3px 0;
}