html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { background: url(../images/bg.png); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; }

b, strong { font-weight: bold; } 

div.right { float: right; }

div.left { float: left; }

.clear { clear: both; }

.container { width: 1000px; margin: 0 auto; }

button { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(100%, #484848)); background: -webkit-linear-gradient(top, #777777, #484848); background: -moz-linear-gradient(top, #777777, #484848); background: -o-linear-gradient(top, #777777, #484848); background: -ms-linear-gradient(top, #777777, #484848); background: linear-gradient(top, #777777, #484848); background-color: #777777; color: #fff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #edf8fa; font-size: 12px; font-weight: 500; border-radius: 5px; border: 1px solid #404040; box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25); text-shadow: 0 1px #000; padding: 0 10px; height: 26px; cursor: pointer; }

button:hover { color: #fff; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dc2f35), color-stop(100%, #b01e22)); background: -webkit-linear-gradient(top, #dc2f35, #b01e22); background: -moz-linear-gradient(top, #dc2f35, #b01e22); background: -o-linear-gradient(top, #dc2f35, #b01e22); background: -ms-linear-gradient(top, #dc2f35, #b01e22); background: linear-gradient(top, #dc2f35, #b01e22); border-color: #b91f24; background-color: #b91f24; }

button:active { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b01e22), color-stop(100%, #dc2f35)); background: -webkit-linear-gradient(top, #b01e22, #dc2f35); background: -moz-linear-gradient(top, #b01e22, #dc2f35); background: -o-linear-gradient(top, #b01e22, #dc2f35); background: -ms-linear-gradient(top, #b01e22, #dc2f35); background: linear-gradient(top, #b01e22, #dc2f35); text-shadow: 0 -1px black; }

form div.left#right { margin-left: 20px; }
form span.small { float: left; }
form span.small input { width: 25px; }
form span.small-after { float: left; margin-left: 20px; }
form span.spacing { display: block; margin-bottom: 10px; }
form div.group { overflow: hidden; margin-bottom: -3px; }

div.clients form.customer h3 {
	margin: 20px 0;
}

span.error {
	display: block;
	padding: 8px;
	background: #F2DEDE;
	border-radius: 5px;
	border: 1px solid #EED3D7;
	color: #894a48;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin-top: 10px
}

form input:focus { border-color: rgba(41, 144, 41, 0.2); outline: none; }

form input { border-radius: 5px; padding: 7px; margin: 0 0 3px 0; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1), 2px 2px rgba(255, 255, 255, 0.35); }

form label { font-weight: bold; color: #808080; margin: 10px 0; }

form#payment label { display: inline-block; width: 150px; }
form#payment { padding: 20px; }