.login-box { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ebebeb)); background: -webkit-linear-gradient(top, #fafafa, #ebebeb); background: -moz-linear-gradient(top, #fafafa, #ebebeb); background: -o-linear-gradient(top, #fafafa, #ebebeb); background: -ms-linear-gradient(top, #fafafa, #ebebeb); background: linear-gradient(top, #fafafa, #ebebeb); width: 312px; margin: auto; padding: 30px; border: 1px solid white; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.07); border-radius: 8px; }
.login-box h1 { background: url(../images/logo.png); width: 305px; height: 91px; text-indent: 100%; overflow: hidden; white-space: nowrap; }
.login-box form { margin-top: 10px; }
.login-box form div { overflow: hidden; clear: both; margin-bottom: 10px; }
.login-box form label { background: #fff; height: 51px; line-height: 51px; width: 82px; text-align: center; float: left; margin: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.login-box form div input { float: left; border: 0; background: #fff; margin: 0; height: 31px; padding: 0; width: 209px; margin-left: 1px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 10px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; }
.login-box form input:focus { outline: none; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }
.login-box form div.fancyselect { display: inline-block; position: absolute; overflow: visible; clear: none; }
.login-box form div.fancyselect h3 { background: #fff; width: 209px; height: 31px; display: inline-block; padding: 10px; line-height: 31px; margin-left: 1px; font-weight: bold; border-top-right-radius: 5px; border-bottom-right-radius: 5px; cursor: pointer; }
.login-box form div.fancyselect ul { z-index: 1000; position: absolute; }
.login-box form div.fancyselect.open span.arrow { border-bottom: 6px solid #efefef; border-top: 0; }
.login-box form span.arrow { width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #efefef; position: absolute; top: 50%; margin-top: -3px; right: 15px; }
.login-box form div.fancyselect.open ul { display: block; }
.login-box form div.fancyselect ul { background: white; width: 209px; padding: 0 10px; border-radius: 5px; display: none; margin-top: 3px; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.03); }
.login-box form div.fancyselect ul li { padding: 10px 0; border-bottom: 1px dotted #eaeaea; }
.login-box form div.fancyselect ul li a { color: #000; text-decoration: none; }
.login-box form .submit { float: right; }


form input {
	box-shadow: none !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}